.carousel {
    padding: 91px 0;

    .tns-outer {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }

    [data-controls=prev],
    [data-controls=next] {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        cursor: pointer;

        img {
            width: 31px;
            height: 50px;
        }
    }

    [data-controls=next] {
        right: -66px;
        left: auto;
    }
}