@media (max-width: 650px) {
    .header {
        flex-direction: column;

        div+div {
            margin-top: 10px;
        }
    }
    .carousel {
        .tns-outer {
            position: relative;
            width: 70%;
            margin: 0 auto;
        }
    }

    .carousel__item {
        img {
            width: 100%;
            height: auto;
        }
    }

    .promo__wrapper {
        align-items: center;
        text-align: center;
    }

    .advantages__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .promo__icons {
        width: auto;
    }
}